<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.oldmoon.husoul.dao.ClockDao">

    <insert id="insertUser">
        insert into clock_user
            (user_account, create_date, last_active_date)
        values (#{userAccount}, #{createDate}, #{createDate})
    </insert>
    <insert id="addClockToday">
        insert into clock_today (user_id, user_account, clock_info, clock_date)
        VALUES (#{userId}, #{userAccount}, #{clockInfo}, #{clockDate})
    </insert>

    <update id="updateClockToday">
        update clock_today
        <set>
            <if test="clockInfo != null and clockInfo != ''">
                clock_info = #{clockInfo},
            </if>
            <if test="clockDate != null">
                clock_date = #{clockDate},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="getClockUser" resultType="top.oldmoon.husoul.model.ClockUser">
        select
        user_id,
        user_account,
        create_date,
        last_active_date
        from clock_user
        <where>
            <if test="userAccount != null and userAccount != ''">
                and user_account = #{userAccount}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getClockToday" resultType="top.oldmoon.husoul.model.ClockToday">
        select user_id, user_account, clock_info, clock_date
        from clock_today
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="userAccount != null and userAccount != ''">
                and user_account = #{userAccount}
            </if>
        </where>
    </select>

    <select id="getClockHistory" resultType="top.oldmoon.husoul.model.ClockHistory">
        select user_id, user_account, clock_info, clock_date
        from clock_history
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="userAccount != null and userAccount != ''">
                and user_account = #{userAccount}
            </if>
            <if test="clockDate != null">
                and clock_date = #{clockDate}
            </if>
        </where>
    </select>

</mapper>